body {
    background: rgb(247,251,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
}

.mainContainer {
    min-width: 400px;
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #003333;
    float: left;
    margin: 7px 0px 5px 0px;
}

.translateContainer {
    float: left;
    width: 100%;
    margin: 5px 0px 7px 0px;
    text-align: center;
}

.translateContainerItem {
    display: inline;
}

.exchangeLanguage {
    max-height: 18px;
    max-width: 18px;
    display: inherit;
    padding-bottom: 2px; /*Do not delete this. It need for correct element focusing */
}

.exchangeLanguageImg {
    max-height: 18px;
    max-width: 18px;
    vertical-align: middle;
}


.translateButton {
    width: 100px;
    margin: 4px 0px 4px 2px;
}

.inputContainer {
    width: 100%;
    float: left;
    text-align: center;
}

.inputContainerItem {
    width: 97%;
    display: inline;
}

#inputArea {
    width: inherit;
    max-width: inherit;
}

.outputContainer {
    float: left;
    margin: 2px 3px 2px 3px;
    width: 100%;
    text-align: center;
}

.outputContainerItem {
    display: inline;
    width: inherit;
    float: left;
}

.outputContainerBlock {
    display: inline;
}

.translateEngineLogo {
    margin: 6px 6px 6px 0px;
    width: 24px;
}

.outputTextArea {
    width: 359px;
}

textarea {
    font-family: Arial, sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #003333;
    resize: none;
}

select {
    height: 21px;
}

.button {
    background: #2a6cfa;
    background-image: -webkit-linear-gradient(top, #2a6cfa, #1fa9ff);
    background-image: -moz-linear-gradient(top, #2a6cfa, #1fa9ff);
    background-image: -ms-linear-gradient(top, #2a6cfa, #1fa9ff);
    background-image: -o-linear-gradient(top, #2a6cfa, #1fa9ff);
    background-image: linear-gradient(to bottom, #2a6cfa, #1fa9ff);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 2px 2px 1px #332233;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 2px 14px 2px 14px;
    text-decoration: none;
}

.button:hover {
    background: #065d94;
    background-image: -webkit-linear-gradient(top, #065d94, #289deb);
    background-image: -moz-linear-gradient(top, #065d94, #289deb);
    background-image: -ms-linear-gradient(top, #065d94, #289deb);
    background-image: -o-linear-gradient(top, #065d94, #289deb);
    background-image: linear-gradient(to bottom, #065d94, #289deb);
    text-decoration: none;
}

.header {
    display: inline;
    float: left;
    width: 100%;
}

.logo {
    padding: 0px 15px;
    float: left;
    display: inline-flex;
}

.logoText {
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: 16px;
    font-weight: 600;
    float: right;
    padding: 8px 4px;
    background: -webkit-linear-gradient(top, #097F99, #1B4D59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoIconImg {
    width: 28px;
}

.topMenu {
    display: inline;
    float: right;
    margin: 6px 10px 0px 0px;
}

.topMenuItem {
    float: left;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
    color: #255a66;
    font-weight: bold;
}

.topMenuItem:hover {
    color: #287f8b;
}

.loginPopupContainer {
    width: 330px;
    display: none;
}

.settingsPopupContainer {
    width: 330px;
    display: none;
}

.settingsItem {
    margin: 5px 0px 0px 30px;
    float: left;
    width: 100%;
}

.settingsItemTitle {
    font-size: 17px;
    font-family: 'PT Sans--normal';
    color: #28555F;
    font-weight: bold;
    text-decoration: underline;
}

.settingsItemContent {
    margin: 2px 0px 0px 10px;
    font-size: 14px;
    font-family: 'PT Sans--normal';
    color: #217146;
    font-weight: bold;
}

.engineEnabledLogo {
    width: 15px;
    padding: 0px 0px 0px 5px;
}

.backIconItem {
    position: absolute;
    bottom: 0;
    text-align: right;
    margin: 0px -35px 3px;
    left: 100%;
}

.backIcon {
    max-width: 23px;
    cursor: pointer;
    padding: 0px 0px 3px 0px;
}