<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
    <asset:stylesheet src="application.css"/>
</head>

<body>

<div class="container">
    Dictionaries:

</div>

<asset:javascript src="application.js"/>
</body>
</html>